<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="example suite 1" verbose="1" group-by-instances="true">

	<test name="Test" group-by-instances="true" parallel="false">
		<classes>
			<!-- <class name="WebDriverTest.RecordTesting" /> -->
			 <class name="util.RecordFactory"/> 
		<!--	<class name="util.MRecordFactory" />-->
			<!-- <class name="util.SampleFactory"/> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
